# Folder dependency/library
node_modules/

# Folder hasil upload foto sementara
uploads/

# File konfigurasi rahasia (API Key, Token)
.env

# Abaikan semua file Excel output sementara
*.xlsx

# KECUALI file template Excel utama Anda (agar tetap ter-upload ke GitHub)
!BANDUNG SELATAN GI 150KV_2.xlsx